In [33]:
import pyspark

#create a spark session

In [34]:
from pyspark.sql import SparkSession

In [35]:
spark = SparkSession.builder.appName('PySpark_Introduction').getOrCreate

In [36]:
spark

#to check spark version

In [20]:
 sc = SparkSession.builder.master("local").getOrCreate() 
 print(sc.sparkContext.version)

3.2.1

#PySpark DataFrame:

In [42]:
# ps_df = spark.read_csv('test1.csv')

df = spark.read.csv("test1.csv",header=True,sep="|")

print(df.collect())

#ps_df

AttributeError: 'function' object has no attribute 'read'

In [39]:
df_psk = spark.read.csv(
            "test2.csv", 
            header=True, 
            mode="DROPMALFORMED", 
            schema=schema
        )
print(df_psk.collect())

AttributeError: 'function' object has no attribute 'read'

In [43]:
# pandas

import pandas as pd
df = pd.read_csv('test1.csv')
df

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [45]:
ps_df = spark.read.csv('test1.csv')

# df = spark.read.csv("test1.csv",header=True,sep="|")

# print(df.collect())
# 
ps_df

AttributeError: 'function' object has no attribute 'read'

In [81]:

spark = SparkSession.builder.master("local[1]").appName("SparkByExamples.com").getOrCreate()

psdf = spark.read.csv("test1.csv")

psdf.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [82]:
spark

In [55]:
psdf

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [56]:
psdf.show

In [57]:
psdf.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [53]:
##finally, after so many attempts we read a csv file and created a pysaprk dataframe as above.

In [58]:
##nstead of column _c0, _c1 .... we want our original columns as given in csv

In [65]:
psdf1 = spark.read.option('header','true').csv("test1.csv")

psdf1

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [64]:
psdf1.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [66]:
type(df)

pyspark.sql.dataframe.DataFrame

In [67]:
type(psdf)

pyspark.sql.dataframe.DataFrame

In [68]:
type(psdf1)

pyspark.sql.dataframe.DataFrame

In [69]:
psdf.head

In [70]:
psdf.head()

Row(_c0='Name', _c1='age', _c2='Experience', _c3='Salary')

In [71]:
psdf.printSchema

In [72]:
psdf.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [73]:
psdf1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [74]:
#getOrCreate is actually to be a function i.e. getOrCreate()

In [76]:
spark = SparkSession.builder.appName('PySpark_Introduction').getOrCreate()
psdf2 = spark.read.csv('test1.csv')
psdf2

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [77]:
psdf2.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [78]:
spark = SparkSession.builder.appName('PySpark_Introduction').getOrCreate()
psdf3 = spark.read.option('header', True).csv('test1.csv')
psdf3

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [79]:
psdf3.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [80]:
spark