In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('DataFrames').getOrCreate

In [3]:
spark

In [6]:
master_spark = SparkSession.builder.master('abc').appName('DataFrames').getOrCreate

In [7]:
master_spark

In [9]:
master_spark.read.csv('test2.csv')

AttributeError: 'function' object has no attribute 'read'

In [10]:

spark = SparkSession.builder.master("local[1]").appName("SparkByExamples.com").getOrCreate()

psdf = spark.read.csv("test2.csv")

psdf.printSchema()

/home/vins/virtenv/py_dev/lib/python3.6/site-packages/pyspark/context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [11]:
psdf

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [12]:
psdf.show()

+---------+----+----------+------+
|      _c0| _c1|       _c2|   _c3|
+---------+----+----------+------+
|     Name| age|Experience|Salary|
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [22]:
master_spark = SparkSession.builder.master("local[1]").appName("DataFrames").getOrCreate

In [23]:
master_spark

In [24]:
master_spark.read.csv('test2.csv')

AttributeError: 'function' object has no attribute 'read'

In [25]:
spark_session = SparkSession.builder.appName('DataFrames').getOrCreate()
spark_session

In [27]:
# read csv dataset:

df_pyspark = spark_session.read.option('header', True).csv('test2.csv')

In [28]:
df_pyspark

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [29]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [30]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, age: string, Experience: string, Salary: string]

In [31]:
# scehma
df_pyspark.printSchema

In [32]:
# scehma as a function:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [33]:
df_pyspark = spark_session.read.option('header', True).csv('test2.csv', inferSchema=True)
df_pyspark

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [34]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [35]:
## Collectively:

In [37]:
dfc_pyspark = spark_session.read.csv('test2.csv', header = True, inferSchema=True)
dfc_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [38]:
dfc_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [39]:
type(dfc_pyspark)

pyspark.sql.dataframe.DataFrame

In [42]:
dfc_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [45]:
dfc_pyspark.head()

Row(Name='Krish', age=31, Experience=10, Salary=30000)

In [46]:
dfc_pyspark.head(5)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000),
 Row(Name='Paul', age=24, Experience=3, Salary=20000),
 Row(Name='Harsha', age=21, Experience=1, Salary=15000)]

In [50]:
# selecting a specific column:

dfc_pyspark.selectExpr('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
|   Mahesh|
|     null|
|     null|
+---------+

In [51]:
# selecting a specific column:

dfc_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
|   Mahesh|
|     null|
|     null|
+---------+

In [53]:
dfc_pyspark.select('Name')

DataFrame[Name: string]

In [54]:
dfc_pyspark.select('age')

DataFrame[age: int]

In [55]:
dfc_pyspark.select('age').show()

+----+
| age|
+----+
|  31|
|  30|
|  29|
|  24|
|  21|
|  23|
|null|
|  34|
|  36|
+----+

In [56]:
type(dfc_pyspark.select('age'))

pyspark.sql.dataframe.DataFrame

In [57]:
# selecting multiple columns:

dfc_pyspark.select(['Name', 'age']).show()

+---------+----+
|     Name| age|
+---------+----+
|    Krish|  31|
|Sudhanshu|  30|
|    Sunny|  29|
|     Paul|  24|
|   Harsha|  21|
|  Shubham|  23|
|   Mahesh|null|
|     null|  34|
|     null|  36|
+---------+----+

In [61]:
dfc_pyspark['Name']

Column<'Name'>

In [73]:
dfc_pyspark['Name'].show

Column<'Name[show]'>

In [66]:
dfc_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [67]:
dfc_pyspark.describe()

DataFrame[summary: string, Name: string, age: string, Experience: string, Salary: string]

In [68]:
dfc_pyspark.describe().show

In [69]:
dfc_pyspark.describe().show()

+-------+------+------------------+------------------+-----------------+
|summary|  Name|               age|        Experience|           Salary|
+-------+------+------------------+------------------+-----------------+
|  count|     7|                 8|                 7|                8|
|   mean|  null|              28.5| 5.428571428571429|          25750.0|
| stddev|  null|5.3718844791323335|3.8234863173611093|9361.776388210581|
|    min|Harsha|                21|                 1|            15000|
|    max| Sunny|                36|                10|            40000|
+-------+------+------------------+------------------+-----------------+

In [70]:
##

In [71]:
#Add and Remove columns into pyspark dataframes:

In [76]:
#Add a column

dfc_pyspark_4years = dfc_pyspark.withColumn('Total_Experience', dfc_pyspark['Experience']+4)

In [77]:
dfc_pyspark_4years.show()

+---------+----+----------+------+----------------+
|     Name| age|Experience|Salary|Total_Experience|
+---------+----+----------+------+----------------+
|    Krish|  31|        10| 30000|              14|
|Sudhanshu|  30|         8| 25000|              12|
|    Sunny|  29|         4| 20000|               8|
|     Paul|  24|         3| 20000|               7|
|   Harsha|  21|         1| 15000|               5|
|  Shubham|  23|         2| 18000|               6|
|   Mahesh|null|      null| 40000|            null|
|     null|  34|        10| 38000|              14|
|     null|  36|      null|  null|            null|
+---------+----+----------+------+----------------+