In [111]:
import pandas as pd
import numpy as np

In [112]:
df = pd.read_csv('/home/vins/Workspace/Py/data_files/web_scrap/lqv_data/googleplaystore.csv')

In [113]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [115]:
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [116]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [117]:
df_lqv = df[['App','Last Updated', 'Installs', 'Rating', 'Reviews', 'Type']]
df_lqv

,App,Last Updated,Installs,Rating,Reviews,Type
0,Photo Editor & Candy Camera & Grid & ScrapBook,"January 7, 2018","10,000+",4.1,159,Free
1,Coloring book moana,"January 15, 2018","500,000+",3.9,967,Free
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...","August 1, 2018","5,000,000+",4.7,87510,Free
3,Sketch - Draw & Paint,"June 8, 2018","50,000,000+",4.5,215644,Free
4,Pixel Draw - Number Art Coloring Book,"June 20, 2018","100,000+",4.3,967,Free
...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,"July 25, 2017","5,000+",4.5,38,Free
10837,Fr. Mike Schmitz Audio Teachings,"July 6, 2018",100+,5.0,4,Free
10838,Parkinson Exercices FR,"January 20, 2017","1,000+",NaN,3,Free
10839,The SCP Foundation DB fr nn5n,"January 19, 2015","1,000+",4.5,114,Free
10840,iHoroscope - 2018 Daily Horoscope & Astrology,"July 25, 2018","10,000,000+",4.5,398307,Free

In [118]:
df_lqv.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [119]:
df_lqv['Installs'] = df_lqv['Installs'].str.replace('+', '')

/home/vins/virtenv/py_dev/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## df_lqv['Installs'] = df_lqv['Installs'].astype(float)

In [120]:
df_lqv

,App,Last Updated,Installs,Rating,Reviews,Type
0,Photo Editor & Candy Camera & Grid & ScrapBook,"January 7, 2018","10,000",4.1,159,Free
1,Coloring book moana,"January 15, 2018","500,000",3.9,967,Free
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...","August 1, 2018","5,000,000",4.7,87510,Free
3,Sketch - Draw & Paint,"June 8, 2018","50,000,000",4.5,215644,Free
4,Pixel Draw - Number Art Coloring Book,"June 20, 2018","100,000",4.3,967,Free
...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,"July 25, 2017","5,000",4.5,38,Free
10837,Fr. Mike Schmitz Audio Teachings,"July 6, 2018",100,5.0,4,Free
10838,Parkinson Exercices FR,"January 20, 2017","1,000",NaN,3,Free
10839,The SCP Foundation DB fr nn5n,"January 19, 2015","1,000",4.5,114,Free
10840,iHoroscope - 2018 Daily Horoscope & Astrology,"July 25, 2018","10,000,000",4.5,398307,Free

In [125]:
df_original = df_lqv.sort_values('Installs', ascending = False, ignore_index=True)
df_original[:100]

,App,Last Updated,Installs,Rating,Reviews,Type
0,Life Made WI-Fi Touchscreen Photo Frame,1.0.19,Free,19.0,3.0M,0
1,UC Browser - Fast Download Private & Secure,"August 2, 2018","500,000,000",4.5,17714850,Free
2,LINE: Free Calls & Messages,"July 26, 2018","500,000,000",4.2,10790289,Free
3,Flipboard: News For Our Time,"August 3, 2018","500,000,000",4.4,1284017,Free
4,Cloud Print,"May 23, 2018","500,000,000",4.1,282460,Free
...,...,...,...,...,...,...
95,Cougar Dating Life : Date Older Women Sugar Mummy,"July 3, 2018","500,000",3.9,1643,Free
96,Best Friends Dress Up & Makeup,"September 9, 2015","500,000",3.7,7664,Free
97,VZ Navigator for Tablets,"January 22, 2018","500,000",3.6,285,Free
98,Stranger Chat & Date,"June 6, 2018","500,000",3.6,3414,Free
99,Alzashop.com,"August 3, 2018","500,000",4.5,32014,Free

In [126]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   App           10841 non-null  object
 1   Last Updated  10841 non-null  object
 2   Installs      10841 non-null  object
 3   Rating        9367 non-null   float64
 4   Reviews       10841 non-null  object
 5   Type          10840 non-null  object
dtypes: float64(1), object(5)
memory usage: 508.3+ KB

In [104]:
df_lqv['Installs'] = pd.to_numeric(df_lqv['Installs'], errors='coerce').fillna(0).astype(np.int64)

/home/vins/virtenv/py_dev/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [105]:
df_lqv.describe()

           Installs       Rating
count  10841.000000  9367.000000
mean      23.197768     4.193338
std       88.243039     0.537431
min        0.000000     1.000000
25%        0.000000     4.000000
50%        0.000000     4.300000
75%        0.000000     4.500000
max      500.000000    19.000000

In [106]:
df_lqv['Reviews'] = df_lqv['Reviews'].str.replace('M', "")

/home/vins/virtenv/py_dev/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [107]:
df_lqv['Reviews'] = pd.to_numeric(df_lqv['Reviews'], errors='coerce').fillna(0).astype(np.int64)

/home/vins/virtenv/py_dev/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [108]:
df_lqv.describe()

           Installs       Rating       Reviews
count  10841.000000  9367.000000  1.084100e+04
mean      23.197768     4.193338  4.441119e+05
std       88.243039     0.537431  2.927629e+06
min        0.000000     1.000000  0.000000e+00
25%        0.000000     4.000000  3.800000e+01
50%        0.000000     4.300000  2.094000e+03
75%        0.000000     4.500000  5.476800e+04
max      500.000000    19.000000  7.815831e+07

In [109]:
df_lqv.rename(columns = {'App': 'App name', 'Last Updated': 'Last update', 'Installs': 'Number of downloads', 'Rating': 'Overall Rating', 'Reviews': 'All reviews','Type': 'Pricing'}, index = None, inplace = True)

/home/vins/virtenv/py_dev/lib/python3.6/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [72]:
df_lqv

,App name,Last update,Number of downloads,Overall Rating,All reviews,Pricing
0,Photo Editor & Candy Camera & Grid & ScrapBook,"January 7, 2018",0,4.1,159,Free
1,Coloring book moana,"January 15, 2018",0,3.9,967,Free
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...","August 1, 2018",0,4.7,87510,Free
3,Sketch - Draw & Paint,"June 8, 2018",0,4.5,215644,Free
4,Pixel Draw - Number Art Coloring Book,"June 20, 2018",0,4.3,967,Free
...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,"July 25, 2017",0,4.5,38,Free
10837,Fr. Mike Schmitz Audio Teachings,"July 6, 2018",100,5.0,4,Free
10838,Parkinson Exercices FR,"January 20, 2017",0,NaN,3,Free
10839,The SCP Foundation DB fr nn5n,"January 19, 2015",0,4.5,114,Free
10840,iHoroscope - 2018 Daily Horoscope & Astrology,"July 25, 2018",0,4.5,398307,Free

In [92]:
df_lqv_001 = df_lqv.sort_values('Number of downloads', ascending = False, ignore_index=True)
df_lqv_001

,App name,Last update,Number of downloads,Overall Rating,All reviews,Pricing
0,SnakeBite911 ER,"October 9, 2017",500,NaN,1,Free
1,HD Wallpapers Volvo FH Trucks,"June 21, 2016",500,NaN,4,Free
2,AZ Immune Related AEManagement,"May 24, 2018",500,3.7,3,Free
3,EP Search and Find,"May 27, 2015",500,NaN,20,Free
4,A-Z Screen Recorder -,"July 23, 2018",500,NaN,17,Free
...,...,...,...,...,...,...
10836,Real time Weather Forecast,"March 26, 2018",0,4.4,4184,Free
10837,METEO FRANCE,"July 13, 2018",0,3.9,100994,Free
10838,APE Weather ( Live Forecast),"July 3, 2018",0,4.3,20008,Free
10839,Live Weather & Daily Local Weather Forecast,"July 17, 2018",0,4.5,13426,Free
10840,iHoroscope - 2018 Daily Horoscope & Astrology,"July 25, 2018",0,4.5,398307,Free

In [87]:
df_lqv.describe()

       Number of downloads  Overall Rating   All reviews
count         10841.000000     9367.000000  1.084100e+04
mean             23.197768        4.193338  4.441119e+05
std              88.243039        0.537431  2.927629e+06
min               0.000000        1.000000  0.000000e+00
25%               0.000000        4.000000  3.800000e+01
50%               0.000000        4.300000  2.094000e+03
75%               0.000000        4.500000  5.476800e+04
max             500.000000       19.000000  7.815831e+07

In [88]:
df_lqv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   App name             10841 non-null  object
 1   Last update          10841 non-null  object
 2   Number of downloads  10841 non-null  int64
 3   Overall Rating       9367 non-null   float64
 4   All reviews          10841 non-null  int64
 5   Pricing              10840 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 508.3+ KB

In [90]:
#df_lqv_001[df_lqv_001['Number of downloads' >= 100]]

In [91]:
df_lqv_001[:500]

,App name,Last update,Number of downloads,Overall Rating,All reviews,Pricing
0,SnakeBite911 ER,"October 9, 2017",500,NaN,1,Free
1,HD Wallpapers Volvo FH Trucks,"June 21, 2016",500,NaN,4,Free
2,AZ Immune Related AEManagement,"May 24, 2018",500,3.7,3,Free
3,EP Search and Find,"May 27, 2015",500,NaN,20,Free
4,A-Z Screen Recorder -,"July 23, 2018",500,NaN,17,Free
...,...,...,...,...,...,...
495,VAT check CY,"May 18, 2013",100,NaN,0,Free
496,The CJ Rubric,"December 5, 2017",100,5.0,5,Free
497,DM Storage (for twitter),"November 26, 2014",100,3.2,6,Free
498,NOMISMA.com.cy by FMW,"May 29, 2016",100,5.0,3,Free
499,Ad Removal: thereisonlywe,"May 3, 2014",100,3.4,16,Paid

In [85]:
df_lqv_001[:100] = df_lqv.sort_values('Number of downloads', ascending = False, ignore_index=True)

In [127]:
df_original['Installs'] = pd.to_numeric(df_lqv['Installs'], errors='coerce').astype(np.int64)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [129]:
df_original[1:200]

,App,Last Updated,Installs,Rating,Reviews,Type
1,UC Browser - Fast Download Private & Secure,"August 2, 2018","500,000,000",4.5,17714850,Free
2,LINE: Free Calls & Messages,"July 26, 2018","500,000,000",4.2,10790289,Free
3,Flipboard: News For Our Time,"August 3, 2018","500,000,000",4.4,1284017,Free
4,Cloud Print,"May 23, 2018","500,000,000",4.1,282460,Free
5,Gboard - the Google Keyboard,"July 31, 2018","500,000,000",4.2,1859109,Free
...,...,...,...,...,...,...
195,MSN Sports - Scores & Schedule,"July 5, 2018","500,000",4.5,35394,Free
196,Ad Detect Plugin - Handy Tool,"December 28, 2015","500,000",3.8,5107,Free
197,EliteSingles – Dating for Single Professionals,"July 31, 2018","500,000",2.5,5377,Free
198,Shoot`Em Down: Shooting game,"August 12, 2017","500,000",3.9,7972,Free
199,Bt Notifier -Smartwatch notice,"May 23, 2017","500,000",2.8,632,Free

In [130]:
df_original[1:201].to_csv('/home/vins/Workspace/Py/data_files/web_scrap/lqv_data/top_200_apps.csv')

In [131]:
df_original[1:201].to_excel('/home/vins/Workspace/Py/data_files/web_scrap/lqv_data/top_200_apps.xlsx')