In [1]:
# import pandas library
import pandas as pd

In [2]:
# create a dataframe
# object from dictionary
dataset = pd.DataFrame({'Names':['Abhinav','Aryan',
                                 'Manthan'],
                        'DOB' : ['10/01/2009','24/03/2009',
                                '28/02/2009']})
# show the dataframe
print(dataset)

     Names         DOB
0  Abhinav  10/01/2009
1    Aryan  24/03/2009
2  Manthan  28/02/2009

In [3]:
#importing sql library
from sqlalchemy import create_engine
 
# create a reference
# for sql library
engine = create_engine('sqlite://',
                       echo = False)
 
# attach the data frame to the sql
# with a name of the table
# as "Employee_Data"
dataset.to_sql('Employee_Data',
               con = engine)
 
# show the complete data
# from Employee_Data table
print(engine.execute("SELECT * FROM Employee_Data").fetchall())

[(0, 'Abhinav', '10/01/2009'), (1, 'Aryan', '24/03/2009'), (2, 'Manthan', '28/02/2009')]

In [4]:
# Create a dataframe
# object from dictionary
df1 = pd.DataFrame({'Names' : ['Sonia', 'Priya'],
                    'DOB':['18/10/2009','14/06/2009']})
 
# appending new data frame
# to existing data frame
df1.to_sql('Employee_Data',
           con = engine,
           if_exists = 'append')
 
# run a sql query
print(engine.execute("SELECT * FROM Employee_Data").fetchall())

[(0, 'Abhinav', '10/01/2009'), (1, 'Aryan', '24/03/2009'), (2, 'Manthan', '28/02/2009'), (0, 'Sonia', '18/10/2009'), (1, 'Priya', '14/06/2009')]

In [5]:
# reading the sql database
# with index "Names"
df2 = pd.read_sql('Employee_Data',
                  con = engine,
                  index_col = 'Names',
                  parse_dates = ['DOB'])
# show the dataframe
print(df2)
 
# print new line
print()
 
# show the type of df2
print(type(df2))

         index        DOB
Names
Abhinav      0 2009-10-01
Aryan        1 2009-03-24
Manthan      2 2009-02-28
Sonia        0 2009-10-18
Priya        1 2009-06-14

<class 'pandas.core.frame.DataFrame'>