In [49]:
y = range(10)
for x in  y:
    print(x)

0
1
2
3
4
5
6
7
8
9

In [48]:
for x in  y:
    print(x)

-1
0
1
2
3
4
5
6
7
8

In [55]:
for x in range(10,0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [80]:
n = int(input("Enter n: ")) #6 no of first 'n' odd numbers in reverse order
for x in range(2*n-1, 0, -2):
    print(x)

Enter n: 4
7
5
3
1

In [82]:
n = int(input("Enter n: ")) #7 no of first 'n' even numbers in reverse order
for x in range(2*n, 0, -2):
    print(x)

Enter n: 10
20
18
16
14
12
10
8
6
4
2

In [7]:
a, b, c, d, e = eval(input("Enter marks of all five subjects: "))
marks = [a, b, c, d, e]
sum = 0
for m in marks:
    if m < 33:
        r = "FAIL"
        break
    else:
        r = "PASS"
        sum = sum + m
print(sum)

print(r)

Enter marks of all five subjects: 45,46,23,67,65
91
FAIL

In [1]:
i = 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10