In [1]:
import pandas as pd

#### for csv it's: pandas.read_csv('file_name') or pandas.read_csv('file_location/file_name')

In [15]:
df = pd.read_csv('sample_weather_data.csv') 
# just file name; if both 'working directory and file locations' are (at) same (place)

In [6]:
df

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow

In [17]:
df1 = pd.read_csv('/home/vins/Workspace/Py/python/ds_ml/plot/linear_algebra/sample_weather_data.csv')
# complete file location with its name; if file location is at different place than 'working directory' 
df1

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow

In [8]:
df[0:1]

        day  temperature  windspeed event
0  01/01/17           32          6  Rain

In [9]:
df[:]

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow

In [10]:
df[1:4]

        day  temperature  windspeed  event
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow

In [11]:
df[1:2]

        day  temperature  windspeed  event
1  01/02/17           35          7  Sunny

In [12]:
df[1:3]

        day  temperature  windspeed  event
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow

In [13]:
df[1:8]

        day  temperature  windspeed  event
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow

In [14]:
df[1:]

        day  temperature  windspeed  event
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow

#### for Excel file., it's: pandas.read_excel('file_name') or pandas.read_excel('file_location/file_name')

In [22]:
df_exl = pd.read_excel("sample_weather_data.xlsx", "Sheet_weather_data") 
# df_exl

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.