In [1]:
import pandas as  pd

In [5]:
df = pd.read_csv("sample_weather_data.csv")

In [6]:
df

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

In [7]:
df.shape

(6, 4)

In [8]:
rows, columns = df.shape

In [9]:
rows, columns

(6, 4)

In [10]:
rows

6

In [11]:
columns

4

In [12]:
df

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

In [13]:
df.head()

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain

In [14]:
df.tail()

        day  temperature  windspeed  event
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

In [15]:
df.head(3)

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow

In [16]:
df.tail(3)

        day  temperature  windspeed  event
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

In [17]:
df[2:5]

        day  temperature  windspeed event
2  01/03/17           28          2  Snow
3  01/04/17           24          7  Snow
4  01/05/17           32          4  Rain

In [18]:
df[:]

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

In [19]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [20]:
df.day

0    01/01/17
1    01/02/17
2    01/03/17
3    01/04/17
4    01/05/17
5    01/06/17
Name: day, dtype: object

In [21]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [22]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    32
Name: temperature, dtype: int64

In [23]:
type(df['event'])

pandas.core.series.Series

In [24]:
df[['event', 'day']]

   event       day
0   Rain  01/01/17
1  Sunny  01/02/17
2   Snow  01/03/17
3   Snow  01/04/17
4   Rain  01/05/17
5  Sunny  01/06/17

In [25]:
df[['event', 'day', 'temperature']]

   event       day  temperature
0   Rain  01/01/17           32
1  Sunny  01/02/17           35
2   Snow  01/03/17           28
3   Snow  01/04/17           24
4   Rain  01/05/17           32
5  Sunny  01/06/17           32

In [26]:
df['temperature'].max()

35

In [27]:
df.describe() # only numerical valued column appeared...

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [31]:
df[df.temperature >= 30]  # >= must be together without any space. i.e. not > =

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

In [36]:
df2 = df[['day', 'temperature']][df.temperature==df['temperature'].max()]