In [1]:
import pandas as  pd

In [2]:
df = pd.read_csv("sample_weather_data.csv")

In [3]:
df

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

In [4]:
df.shape

(6, 4)

In [5]:
rows, columns = df.shape

In [6]:
rows, columns

(6, 4)

In [7]:
rows

6

In [8]:
columns

4

In [9]:
df

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

In [10]:
df.head()

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain

In [11]:
df.tail()

        day  temperature  windspeed  event
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

In [12]:
df.head(3)

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow

In [13]:
df.tail(3)

        day  temperature  windspeed  event
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

In [14]:
df[2:5]

        day  temperature  windspeed event
2  01/03/17           28          2  Snow
3  01/04/17           24          7  Snow
4  01/05/17           32          4  Rain

In [15]:
df[:]

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

In [16]:
df.columns # columns heading

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [17]:
df.day

0    01/01/17
1    01/02/17
2    01/03/17
3    01/04/17
4    01/05/17
5    01/06/17
Name: day, dtype: object

In [18]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [19]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    32
Name: temperature, dtype: int64

In [20]:
type(df['event'])

pandas.core.series.Series

In [21]:
df[['event', 'day']]

   event       day
0   Rain  01/01/17
1  Sunny  01/02/17
2   Snow  01/03/17
3   Snow  01/04/17
4   Rain  01/05/17
5  Sunny  01/06/17

In [22]:
df[['event', 'day', 'temperature']]

   event       day  temperature
0   Rain  01/01/17           32
1  Sunny  01/02/17           35
2   Snow  01/03/17           28
3   Snow  01/04/17           24
4   Rain  01/05/17           32
5  Sunny  01/06/17           32

In [23]:
df['temperature'].max()

35

In [24]:
df.describe() # only numerical valued column appeared...

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

#### Conditionally selected data : much similar to SQL queries;;

In [25]:
df[df.temperature >= 30]  # >= must be together without any space. i.e. not > =

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

In [26]:
df2 = df[['day', 'temperature']][df.temperature==df['temperature'].max()]

In [27]:
df2

        day  temperature
1  01/02/17           35

In [28]:
df

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

#### Indexing in a DatFrame::

In [29]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [30]:
df.set_index('day')

          temperature  windspeed  event
day
01/01/17           32          6   Rain
01/02/17           35          7  Sunny
01/03/17           28          2   Snow
01/04/17           24          7   Snow
01/05/17           32          4   Rain
01/06/17           32          2  Sunny

In [31]:
df

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

In [32]:
df.set_index('day', inplace = True)

In [33]:
df

          temperature  windspeed  event
day
01/01/17           32          6   Rain
01/02/17           35          7  Sunny
01/03/17           28          2   Snow
01/04/17           24          7   Snow
01/05/17           32          4   Rain
01/06/17           32          2  Sunny

In [34]:
df.loc['01/03/17']

temperature      28
windspeed         2
event          Snow
Name: 01/03/17, dtype: object

In [35]:
df.reset_index(inplace = True)

In [36]:
df

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

In [37]:
df.set_index('event', inplace = True)

In [38]:
df

            day  temperature  windspeed
event
Rain   01/01/17           32          6
Sunny  01/02/17           35          7
Snow   01/03/17           28          2
Snow   01/04/17           24          7
Rain   01/05/17           32          4
Sunny  01/06/17           32          2

In [40]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   01/03/17           28          2
Snow   01/04/17           24          7