In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('sample_weather_data.csv')
df

        day  temperature  windspeed     event
0  01/01/17           32          6      Rain
1  01/02/17        -9999          7     Sunny
2  01/03/17           28       8888      Snow
3  01/04/17           24          7  no event
4  01/05/17        -9999          4      Rain
5  01/06/17           32          0     Sunny

In [ ]:
df_new =