In [9]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [10]:
d = {'one' : Series([1,2,3], index = ['a', 'b', 'c']),
    'two' : Series([1,2,3,4], index = ['a', 'b', 'c', 'd'])}

In [11]:
DataFrame(d)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [12]:
df.apply(np.mean)

one    2.0
two    2.5
dtype: float64

In [14]:
df.apply(np.max)

one    3.0
two    4.0
dtype: float64

In [15]:
df.apply(np.min)

one    1.0
two    1.0
dtype: float64

In [13]:
df['one'].map(lambda x: x>=1)

a     True
b     True
c     True
d    False
Name: one, dtype: bool

In [16]:
df['two'].map(lambda x: x>=1)

a    True
b    True
c    True
d    True
Name: two, dtype: bool

In [17]:
df.applymap(lambda x: x>=1) # apply on both the columns

     one   two
a   True  True
b   True  True
c   True  True
d  False  True